/*body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #ff931f;
}

h1 {
    color: #000000;
}

p {
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

li {
    margin-bottom: 10px;
}

body[data-page="acerca-de-mi"] {
    background-color: #f0f0f0;
}

body[data-page="acerca-de-mi"] header {
    background-color: #000000;
    color: #fff;
}

body[data-page="acerca-de-mi"] main {
    padding: 20px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
      pointer-events: none;
  } */

img[src="M.jpg"] {float: right;
        max-width: 100%;
        width: 305px;
        background: #026bb100;
        padding: 10px;
        box-sizing: border-box;
        margin: 90px;
        border: 4px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
        top:200px;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: space-between; 
    }
        

    

img[src="c.jpeg"] { float: left;
        max-width: 100%;
        width: 305px;
        background: #026bb100;
        padding: 10px;
        box-sizing: border-box;
        margin: 90px;
        border: 4px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
        top:200px;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: space-between;
    }

/*
#carouselExampleAutoplaying {
        max-width: 700px;
        height: 500px;
        width: 700px;
        display: block;
        margin: 0 auto;
        align-items: center;
        align-content: center;
    }

#carouselExampleAutoplaying1 {
        max-width: 700px;
        height: 500px;
        width: 700px;
        display: block;
        margin: 0 auto;
        align-items: center;
        align-content: center;
    }

.dropdown-item {
    color: #000000;
}

*{margin: 20px; padding: 20px;}
#intro {color: #1C1C1C; text-align: center; }
.titulo {text-align: center;}
.c{text-align: right;}
.m{text-align: left;}
.container {position: relative;}

video {width: 540px; height: 490px; position: relative;  left: 450px; }

#dropdownMenuButton {
    color: #000000;
    background-color: #ff931f;
    width: 500px;
}
*/

.text {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

p[class="m"] {
    font-size: 15px;
    font-family: "Roboto";
}

p[class="c"] {
    font-size: 15px;
    font-family: "Roboto";
}

.dropdown:hover .dropdown-menu {
        display: block;
    }

h3::first-line {
        color: rgb(0, 0, 0);
    }

.social-media {
    color: black;
}

a[href] {
    color: black;
}

footer {
    background-color: #bd6f1b;
}